In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [48]:
df_new = pd.read_csv("BPD.csv")
df1 = pd.read_csv("BPD_related1.csv")
df2 = pd.read_csv("BPD_related2.csv")
df3 = pd.read_csv("BPD_related3.csv")
df_new = df_new.dropna()
df1_clean = df1.dropna()
df2_clean = df2.dropna()
df3_clean = df3.dropna()

In [49]:
df1

     Send Rates  Block Size  Avg Latency  Throughput
0          10.0          10         0.33        10.0
1          10.0          20         0.85        10.0
2          10.0          30         1.19        10.0
3          10.0          40         1.22         9.8
4          10.0          50         1.18        10.0
..          ...         ...          ...         ...
395       200.5         160         1.35       160.8
396       187.5         170         2.17       158.4
397       198.9         180         1.31       163.5
398       197.0         190         1.65       163.0
399       198.3         200         1.63       161.6

[400 rows x 4 columns]

In [50]:
df2

     Send Rates  Block Size  Avg Latency  Throughput
0          10.0          10         0.32        10.0
1          10.0          20         0.83        10.0
2          10.0          30         1.17         9.9
3          10.0          40         1.16         9.8
4          10.0          50         1.16         9.8
..          ...         ...          ...         ...
395       200.6         160         1.98       159.8
396       200.3         170         2.24       161.0
397       200.5         180         2.09       161.8
398       200.3         190         2.24       160.4
399       200.1         200         1.67       160.8

[400 rows x 4 columns]

In [51]:
df3

     Send Rates  Block Size  Avg Latency  Throughput
0          10.0          10         0.30        10.0
1          10.0          20         0.81        10.0
2          10.0          30         1.13         9.9
3          10.0          40         1.14         9.9
4          10.0          50         1.14         9.9
..          ...         ...          ...         ...
395       193.2         160         2.90       159.0
396       200.9         170         2.23       154.9
397       199.8         180         2.01       157.2
398       200.6         190         2.11       160.4
399       195.5         200         2.31       161.8

[400 rows x 4 columns]

In [52]:
summary_new = df_new.describe(include='all')
print(summary_new)

        Send Rates  Block Size  Avg Latency   Throughput
count  3120.000000  3120.00000  3120.000000  3120.000000
mean    104.418365   405.00000     1.236087    88.595897
std      55.159613   230.95908     0.508742    42.911369
min      10.000000    10.00000     0.080000     9.800000
25%      55.300000   207.50000     0.920000    53.475000
50%     105.400000   405.00000     1.160000    96.300000
75%     154.800000   602.50000     1.290000   120.600000
max     200.800000   800.00000     4.130000   161.600000

In [53]:
summary_1 = df1.describe(include='all')
print(summary_1)

       Send Rates  Block Size  Avg Latency  Throughput
count  400.000000  400.000000   400.000000  400.000000
mean   104.537500  105.000000     0.922775   86.783750
std     56.817358   57.735027     0.427756   42.930622
min     10.000000   10.000000     0.080000    9.800000
25%     57.725000   57.500000     0.650000   52.725000
50%    105.350000  105.000000     0.880000   92.350000
75%    150.700000  152.500000     1.160000  121.325000
max    200.700000  200.000000     2.730000  177.200000

In [54]:
summary_2 = df2.describe(include='all')
print(summary_2)

       Send Rates  Block Size  Avg Latency  Throughput
count  400.000000  400.000000   400.000000  400.000000
mean   105.108500  105.000000     0.995125   87.026000
std     57.655548   57.735027     0.605437   42.910883
min     10.000000   10.000000     0.070000    9.800000
25%     57.725000   57.500000     0.630000   50.175000
50%    100.500000  105.000000     0.875000   94.200000
75%    150.600000  152.500000     1.180000  121.500000
max    200.800000  200.000000     3.880000  162.400000

In [55]:
summary_3 = df3.describe(include='all')
print(summary_3)

       Send Rates  Block Size  Avg Latency  Throughput
count  400.000000  400.000000   400.000000  400.000000
mean   105.006250  105.000000     0.970250   87.692250
std     57.426536   57.735027     0.563796   43.244145
min     10.000000   10.000000     0.060000    9.800000
25%     57.700000   57.500000     0.640000   52.650000
50%    105.300000  105.000000     0.915000   96.250000
75%    151.000000  152.500000     1.180000  121.325000
max    200.900000  200.000000     3.170000  162.800000

In [56]:
print(df_new.dtypes)

Send Rates     float64
Block Size       int64
Avg Latency    float64
Throughput     float64
dtype: object

In [57]:
print(df1.dtypes)

Send Rates     float64
Block Size       int64
Avg Latency    float64
Throughput     float64
dtype: object

In [58]:
print(df2.dtypes)

Send Rates     float64
Block Size       int64
Avg Latency    float64
Throughput     float64
dtype: object

In [59]:
print(df3.dtypes)

Send Rates     float64
Block Size       int64
Avg Latency    float64
Throughput     float64
dtype: object